<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup</title>
</head>
<body>

  <form action="/user" method="post" >

      <label>Full Name</label>
      <input type="text" 
      required 
      name="name"
      placeholder="Enter Name"/>



      <label>Email</label>
      <input type="text" 
      required name="email"
      placeholder="Enter Email"/>

 
      <label>Password</label>
      <input type="text" 
      required name="password" 
      placeholder="Enter Password"/>

    <button type="submit">Submit</button>
  </form>

</body>
</html>